@*@using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager*@
@*@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>*@
@*@inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager*@

@model IEnumerable<ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}


@*<section class="col-12 dropright">*@

<div class="card card-signin col-10 ">
    <div class="card-body">

        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Create a new User</a>




        <table class="table table-sm table-bordered">
            <tr>
                <th class="text-center">Profile Picture</th>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">City</th>
                <th class="text-center">Adresse</th>
                <th class="text-center">CIN</th>
                <th class="text-center">Phone Number</th>
                <th class="text-center">Phone Number2</th>
                <th class="text-center">Function</th>


                @*<th>PhoneNumber2</th>*@
                @*<th>Photo</th>*@
                @*<th>Datedebut</th>
                    <th>DatefiN</th>*@

                @*<th>Password</th>*@
                @*<th>ConfPassword</th>*@
                @*<th>Lati</th>
                    <th>Long</th>*@
                @*<tr><th>Nom</th><th>prenom</th><th>Email</th>*@
                @*<th>ville</th><th>date de naissance</th><th>adresse</th><th>CIN</th>
                    <th>matricule</th><th>agence</th><th>manager</th><th>modifier</th><th>supprimer</th>*@
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @if (SignInManager.IsSignedIn(User))

                        {<li class="nav-item" style="align-self: center;">
    @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
    {
        <img class="notification-count" src="~/img/notification.png" width="20" height="20" title="notification" , alt="notif" />

    }
</li>}
                    </td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.City</td>
                    <td>@user.Adresse</td>
                    <td>@user.CIN</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.PhoneNumber2</td>
                    <td>@user.Function</td>

                    @*<td>@user.DateDebut</td>

                        <td>@user.DateFin</td>*@




                    @*// to update user' information tou should connect with his identity and go to profil*@
                    <td><a class="btn btn-sm" asp-action="Update" asp-route-id="@user.Id"><img src="~/img/edit.png" height="20" width="20" /></a></td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <button type="submit" class="btn btn-sm ">
                                <img src="~/img/poubelle.png" height="20" width="20" />
                            </button>
                        </form>
                    </td>

                </tr>
            }
        </table>


    </div>

</div>
@*</section>*@
